body {
  margin: 0px;
  padding: 0px;
}

#initialInputDiv {
  background-color: #00f;
  height: 100%;
  width: 100%;
}

#initialInputDiv span {
  color: #fff;
  font-weight: bold;
}

#innerInputDiv {
  position: fixed;
  width: 500px;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

#playDiv {
  display: none;
}

#waitForIt {
  display: none;
}
